body
{
    background-color: #fabe58;
    padding: 0;
    margin: 0;
}
.card
{
    background-color: white;
    height: 450px;
    width: 310px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    box-shadow: 0 0 20px 10px rgba(233, 144, 7, 0.7);
}
.info
{
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
}
.name
{
    font-size: 35px;
    letter-spacing: 2px;
    font-family: "garamond", sans-serif;
    color: #f79f08;
    position: absolute;
    font-weight: 600;
    top: 100px;
    text-transform: uppercase;
}
.prof

{
    font-size: 23px;
    position: absolute;
    top: 140px;
    font-family: "work Sans", sans-serif;
    color: #555555;
}
.divider
{
    background-color: #949594;
    height: 2px;
    width: 50px;
    position: absolute;
    top: 190px;
    border-radius: 0.5px;
}
.bio
{
    position: absolute;
    top: 220px;
    color: #949594;
    text-align: center;
    font-size: 18px;
    font-family: "work sans", sans-serif;
    line-height: 28px;
}
button
{
    position: absolute;
    border: none;
    background-color: #f79f08;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #f79f08;
    color: white;
    padding: 13px 20px;
    bottom: 50px;
    border-radius: 7px;
    font-size: 15px;
    font-family: "work sans",sans-serif;
    box-shadow: black;
    cursor: pointer;
}
.photo
{
    height: 100%;
    width: 100%;
    background: url("me.jpg");
    position: absolute;
    bottom: 0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 0.4s;
}
.card:hover .photo
{
    transform: scale(0.5,0.35) translateY(-650px);
    background-size: 100% 150%;
    background-position: 0 -25px;
    border-radius: 50%;
    cursor: pointer;

}
